.layer {
   background-color: black;
   height: inherit;
   position: absolute;
   top: 72px;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0.3;
}


#pho{
  width:30%;
  height:auto;
  border:0;
  -ms-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
body {
  left: 0;
  margin: 0;
  /*overflow: ;*/
  position: relative;
}

.jumbotron .container h1 {
  font-size: 60px;
  color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;

}


h2 {
   font-size: 52px;
   text-align: center;
   padding-top:20px;
   padding-bottom:20px;
}

.jumbotron sub{
  font-size: 25px;
  text-align: center;
}

.jumbotron {
   background-attachment: fixed;
   background-image: url('https://raw.githubusercontent.com/bwwyyy/philip-bao/gh-pages/statics/img/bg.jpg');
   -moz-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}

.jumbotron .container {
   position: relative;
   top: 28%;
   z-index: 4;
   text-align: center;
}



#header {

  color: black;
  text-align:center;
  padding:8px;
}


#section1 {

  text-align:center;
  padding:10px;
  font-size:30px;
  margin-bottom: 20px;
  margin-top: -10px; 
  width:700px; 
  margin:0px auto;
}


.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  color:#E6E6E6;
}

.icon-menu {
  color: #000000;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;

  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px; 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  left: 25px;
  z-index:999;
  position: fixed;

}

.icon-menu:hover{
  background: #333;
  color: #fff;
}

.icon-menu i {
  margin-right: 5px;
}

.ti{
  font-family:sans-serif;

  padding-left: 70px;
  

}
.totop a {
  position: fixed;
  bottom: 0px; 
  right: 50px; 
  color: #333; 
  z-index: 1000;
  border-radius: 4px; 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: normal; 
  text-decoration: none;
  z-index:999;
}

.totop a:hover {
  background: #333;
  color: #fff;
}


.boxF, .boxS, .boxT, .overlay
{
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin:0 auto;

}
.boxF, .boxS
{
    visibility: hidden;
    
}
.boxF
{
    transform: rotate(120deg);

    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    /*float: center;*/
}
.boxS
{
    transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.boxT
{
    transform: rotate(-60deg);
    background: no-repeat 50% center;
    background-size: 90% auto;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    visibility: visible;
}
.overlay
{
    transition: all 250ms ease-in-out 0s;
    display: none;

}


.tech {
   background: #0000FF;
   color: white;
   padding-top: 50px;
   margin-bottom: 220px;
   margin-top:-20px;
}

.expe {
   background: #DF0101;
   color: white;
   padding-top: 40px;
   margin-bottom: 220px;

}

.cont {
   background: #FACC2E;
   color: white;
   padding-top: 40px;
}

.profile {
   background: #9A2EFE;
   color: white;
   padding-top: 40px;
   margin-bottom: 220px;
}

.hobb {
   background: #2EFEF7;
   color: white;
   padding-top: 40px;

}

.tech-back{
   background-attachment: fixed;
   background-image: url('http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg');
   -moz-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}


.prof-back{
   background-attachment: fixed;
   background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/Computer-Science.jpg?itok=5FzfoaCV');
   -moz-background-size: cover;
   background-size: cover;
/*   background-repeat: no-repeat;*/
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}

.expe-back{
   background-attachment: fixed;
   background-image: url('http://www.ittime.com.cn/uploadfile/2013/1211/20131211072819972.jpg');
   -moz-background-size: cover;
   background-size: cover;
/*   background-repeat: no-repeat;*/
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}

.skill-left{
  float:left;
  width: 45%;
}
.skill-right{
  float:left;
  width: 45%;
}

h3{

}

h4{
  /*float: left;*/
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;

}
