* {
    margin: 0 auto;
}



#top-nav, div {
    display: table;
    width: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial;
    line-height: 1.5;
}

#top-nav-left > div, #top-nav > div {
    width: auto;
}

a {
    text-decoration: none;
    color: #808080;
}

ul {
    padding: 0 0;
}

#top-nav {
    opacity: 0.8;
    position: fixed;
    z-index: 10;
    background: #FFFFCC;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: -10px;
}

#top-nav div {
    float: left;
    margin:0 10px 0 10px ;
}

#top-nav a {
    display: block;
    padding: 5px 20px 7px 20px;
    width: 8em;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #C2C2D6;
}

#top-nav a:hover {
    color: #006666;
    background:#DEDFDE;
}

#top-nav div.active a {
    border-bottom: 3px solid #0099FF;
    /*border-top: 1px solid #0099FF;*/
    color: #0099FF;
    background:#DEDFDE;
}





.form-group{
  width:300px;
}


hr {
  margin: 40px 0;
  border-color: #727878;
  opacity: 0.5;
  width:500px;
  size:20px;
  margin:0px auto;
  padding-bottom:40px;

}



.layer {
   background-color: black;
   height: inherit;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 0.3;

}


#pho{
  width:30%;
  height:auto;
  border:0;
  -ms-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
body {
  left: 0;
  margin: 0;
  /*overflow: ;*/
  position: relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 60px;
  color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;

}


h2 {
   font-size: 52px;
   text-align: center;
   padding-top:20px;
   padding-bottom:20px;

}

sub{
    font-size: 25px;
    text-align: center;
    float:center;
}

.subs{
  font-size: 20px;
  text-align: center;
  font-style:oblique; 
  float:center;
}

.jumbotron {
   background-attachment: fixed;
   background-image: url('https://raw.githubusercontent.com/bwwyyy/philip-bao/gh-pages/statics/img/bg.jpg');
   -moz-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}

.jumbotron .container {
   position: relative;
   top: 28%;
   z-index: 4;
   text-align: center;
}

/*.container{
  list-style-type: none;
}*/

#header {

  color: black;
  text-align:center;
  padding:8px;
}

.star{
  float:right ;
  width:49%;
  padding-top:10px;
  padding-bottom:10px;

}
.tech h4{
  float:left;
  width:49%;
  text-align: left;
  color:#00CCFF;
/*  padding-left:25px ;
  margin-left: 5%;*/
}



#section1 {

  text-align:center;
  padding:10px;
  font-size:30px;
  margin-bottom: 20px;
  margin-top: -10px; 
  width:700px; 
  margin:0px auto;
}

.ti{
  font-family:sans-serif;

  padding-left: 70px;
  

}
.totop a {
  position: fixed;
  bottom: 0px; 
  right: 50px; 
  color: #333; 

  border-radius: 4px; 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: normal; 
  text-decoration: none;
  z-index:3;
}

.totop a:hover {
  background: #333;
  color: #fff;
}
.expe h4{
  color:#CCA300;
}


.boxF, .boxS, .boxT, .overlay
{
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin:0 auto;

}
.boxF, .boxS
{
    visibility: hidden;
    
}
.boxF
{
    transform: rotate(120deg);

    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    /*float: center;*/
}
.boxS
{
    transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.boxT
{
    transform: rotate(-60deg);
    background: no-repeat 50% center;
    background-size: 90% auto;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    visibility: visible;
}
.overlay
{
    transition: all 250ms ease-in-out 0s;
    display: none;

}


.tech {
   background: #2A3642;
   color: #B8C1CA;
   padding-top: 50px;
   margin-bottom: 220px;
   margin-top:-20px;
}

.expe {
   background: #F1EEE5;
   color: #404237;
   padding-top: 40px;
   margin-bottom: 220px;

}

.cont {
   background: #9E9E9E;
   color: white;
   padding-top: 40px;
}

.profile {
/*   background: #B6BCBC;*/
   background: #AFB5C9;
   color: white;
   padding-top: 0px;
   margin-bottom: 220px;

}

.hobb {
   background: #2EFEF7;
   color: white;
   padding-top: 40px;

}

.tech-back{
   background-attachment: fixed;
   background-image: url('http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg');
   -moz-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}


.prof-back{
   background-attachment: fixed;
   background-image: url('http://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/Computer-Science.jpg?itok=5FzfoaCV');
   -moz-background-size: cover;
   background-size: cover;
/*   background-repeat: no-repeat;*/
   background-position: center;
   height: 120%;
   margin-bottom: 0;
   padding: 0 !important;

}

.expe-back{
   background-attachment: fixed;
   background-image: url('http://th08.deviantart.net/fs71/PRE/f/2012/206/0/a/earth_and_moon_by_johnreut-d58kvxx.png');
   -moz-background-size: cover;
   background-size: cover;
/*   background-repeat: no-repeat;*/
   background-position: center;
   height: 100%;
   margin-bottom: 0;
   padding: 0 !important;
}

.skill-left{
  float:left;
  width: 45%;
}
.skill-right{
  float:left;
  width: 45%;
}







h3{
  text-align: center;
  padding-bottom: 40px;
}

h4{
  /*float: left;*/
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

.block{
  padding-bottom: 70px;
  text-align: center;
}

.contact{
  display: inline;
  margin: auto 5%;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.resume{
  text-align: center;
  color: #3E3E3E; 
  background: #CECECE;
  border-radius: 9px; 
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  font-weight: normal; 
  text-decoration: none;
  width:190px;
  /*height:;*/
  margin-bottom: 40px;
}


.resume:hover{
  background: #808080;
  color: #FF9900;
}

